


custom:
  tag:
    jwt:
      chiave: chiaveAbbastanzaLungaPerLaCodificaDiUnToken
      durata: 3600000
spring:
  profiles:
    active: mysql
management:
  server:
    port: 8082
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /all/monitoring
